
:root {
--color1: #FFA630;
--color2: #D7E8BA;
--color3: #4DA1A9;
--color4: #2E5077;
--color5: #611C35;
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

  body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: black;
  }
  
  h1,
  h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    text-align: center;
    font-size: 40rem;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--color5);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav */
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color1);
    box-shadow: 0 2px 0 var(--color3);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--color4);
  }
  
  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color2);
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--color5);
  }
  
  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--color2);
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--color1);
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--color4);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--color4);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--color4);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--color2);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    background: var(--color4);
    margin: 0;
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .uele{
    position: relative;
    margin: 58px;
    padding: 0;
    display: flex;
  }

  .uele  li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    margin:  0 30px;
    transform: rotate(-30deg) skew(15deg);
    background: #ccc;
  }

  .uele  li  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 30px !important;
  }

  .uele  li:hover  span:nth-child(6) {
    transform: translate(50px,-50px);
    opacity: .10;
  }

  .uele  li:hover  span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: .10;
  }

  .uele  li:hover  span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
  }

  .uele  li:hover  span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
  }

  .uele  li:hover  span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
  }

  .uele  li:hover  span:nth-child(1) {
    transform: translate(0,0);
    opacity: .2;
  }
  

  .uele  li:nth-child(1) span {
    background: #e4405f;
}

  .uele  li:nth-child(2) span {
      background: #3b5999;
  }

  .uele  li:nth-child(3) span {
    background: #55acee;
}

.uele  li:nth-child(4) span {
  background: #ca2e1a;
}

.uele  li:nth-child(5) span {
  background: #0077b5;
}

.uele  li:nth-child(6) span {
  background: #480445;
}

  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--color4);
    border-top: 4px solid var(--color2);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }
  
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  